<!-- {{data}} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
          <th>Link</th>
          <th>Action</th>
   
        </tr>
      
            <tr>
                <td><a href="/linktoken">linktoken</a></td>  
                <td> Fetches the Link token which will be used for authentication</td>
            </tr>
            <tr>
                <td><a href="/institutions">institutions</a></td> 
                <td> Fetches the list of Institutions supported by Plaid. Currently takes 50 inputs.</td> 
            </tr>
         

      </table>
</body>
</html>