<!-- {{data}} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <title>Document</title>
</head>
<body>
  
    <table>
        <tr>
          <th>institution_id</th>
          <th>name</th>
   
        </tr>
        {% for i in data %}
            <tr>
                <td><a href=/instiution/{{i.institution_id}} >{{i.institution_id}} </a></td>
          
                <td>{{i.name}}</td>
            </tr>
        {% endfor %}
      </table>
</body>
</html>
