<!-- {{data}} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <title>Document</title>
</head>
<body>


      <p>
        <h1> Account </h1>
        <table>
          <tr>
            <th>account_id</th>
            <th>balances</th>
            <th>official_name</th>
            <th>type</th>
            <th>Transaction</th>
          </tr>
          {% for balance in balances %}
              <tr>
                  <td>{{balance.account_id}} </td>
                  <td>{{balance.balances}} </td>
                  <td>{{balance.official_name}}</td>
                  <td>{{balance.type}}</td>
                  <td>{{balance.transactions}}</td>
                  
              </tr>
          {% endfor %}
        </table>
      </p>

     
</body>
</html>