
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <script type='text/javascript' src='https://cdn.yodlee.com/fastlink/v4/initialize.js'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warren</title>
  </head>
  <body>
    <form action = "http://localhost:5000/result" method = "POST">
      
      <!-- 
<p>TOKEN <input type = "text" name = "Name" /></p>
      -->
      <p><select name="Name" id="">
        <option value="sbMem60l28ab4b29db1">sbMem60l28ab4b29db1</option>
        <option value="sbMem60l28ab4b29db2">sbMem60l28ab4b29db2</option>
        <option value="sbMem60l28ab4b29db3">sbMem60l28ab4b29db3</option>
        <option value="sbMem60l28ab4b29db4">sbMem60l28ab4b29db4</option>
        <option value="sbMem60l28ab4b29db5">sbMem60l28ab4b29db5</option>
      </select></p>
      <p><input type = "submit" value = "submit" /></p>
   </form>
  </body>
  </html>
  

